.idea
**/cmake-build-debug
**/cmake-build-release
**/build-release
**/*~
**/*.o
**/*.out
**/*.wasm.temp
**/node_modules
**/package.json
**/package-lock.json
build
.vscode
**/*.log
tests2
build*
ci-temp
**/venv
**/.idea
